{% extends 'ebook/base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="row shadow-lg bg-white" style="width: 800px; border-radius: 4px; overflow: hidden;">
        
        <div class="col-md-5 p-5 text-white d-none d-md-block" style="background-color: #60367cff;">
            <h2 class="fw-bold">Login</h2>
            <p class="mt-4" style="font-size: 18px; color: #4d0e76ff;">Get access to your Orders, Wishlist and Recommendations</p>
            <div class="text-center" style="margin-top: 100px;">
                <img src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/login_img_c4a81e.png" class="img-fluid" width="150">
            </div>
        </div>

        <div class="col-md-7 p-5">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-4 mt-3 border-bottom">
                    <input type="text" name="username" class="form-control border-0 shadow-none p-0" placeholder="Enter Username" required>
                </div>
                <div class="mb-4 border-bottom">
                    <input type="password" name="password" class="form-control border-0 shadow-none p-0" placeholder="Enter Password" required>
                </div>
                
                <p class="text-muted small">By continuing, you agree to Apna Mart Terms of Use and Privacy Policy.</p>
                
                <div class="d-grid gap-2 mt-4">
                    <button type="submit" class="btn btn-lg text-white fw-bold" style="background-color: #dc91f3ff; border-radius: 2px;">Login</button>
                </div>
                
                <div class="text-center mt-5">
                    <a href="{% url 'signup' %}" class="text-primary text-decoration-none fw-bold small">New to Apna Mart? Create an account</a>
                </div>
            </form>
        </div>

    </div>
</div>

<style>
    .form-control:focus { 
        border-bottom: 2px solid #60367cff !important; 
        outline: none;
    }
</style>
{% endblock %}